.badge-mandatory {
    cursor: help;
    background-color: var(--isimip-blue);
}
.badge-optional {
    cursor: help;
    background-color: var(--bs-secondary);
}
.badge-climate-forcing {
    background-color: var(--bs-secondary);
}
.badge-simulation-round {
    --bs-badge-color: black;
    background-color: var(--isimip-orange);
}
.badge-sector {
    --bs-badge-color: white;
    background-color: var(--isimip-green);
}
.badge-group3 {
    color: white;
    background-color: var(--isimip-teal);
}
.badge-split {
    .badge-group3 {
        border: var(--bs-border-width) var(--bs-border-style) var(--isimip-teal) !important;
    }
    .badge-start {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: white;
    }
    .badge-end {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.badge-soc-forcing {
    background-color: var(--isimip-dark-green);
}

.circle,
.circle-start,
.circle-end {
    display: inline-block;
    margin-top: 1px !important;
    margin-bottom: -1px !important;
}
.circle {
    height: 8px;
    width: 8px;
    border-radius: 4px;
}
.circle-start {
    height: 8px;
    width: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.circle-end {
    height: 8px;
    width: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.circle-green {
    background-color: var(--bs-success);
}
.circle-yellow {
    background-color: var(--bs-yellow);
}
