.about,
.toc,
.config {
    border: 1px solid var(--isimip-light-gray);
}
.toc,
.config {
    font-size: var(--isimip-small);
    height: 100%;
}
.about,
.config {
    padding: 0.5rem 1rem;

    .form-check {
        min-height: auto;
    }
}
.about {
    margin-bottom: 1rem;
}
.toc {
    > ul {
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        margin: 0;
    }
    li {
        list-style: none;
    }
    li > ul {
        padding-left: 1.5rem;
    }
}
.toctitle {
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.dropdown-menu {
    .toc {
        width: 260px;
    }
    .toc > ul {
        margin: 0;
        padding: 0;
    }
    .toctitle {
        margin: 0;
    }
    .config {
        width: 640px;
    }
}

.show-component,
.pattern-component {
    margin-bottom: 1rem;
}
.show-component h3:first-child {
    margin-top: 0;
}
.show-component p:last-child,
.show-component ul:last-child,
.show-component pre:last-child,
.show-component [data-component="table"]:last-child table,
.pattern-component pre:last-child {
    margin-bottom: 0;
}
.show-component .badge {
    margin-left: 3px;
    margin-right: 0;
}
.show-component.simulation_round {
    border: 1px solid #faba53;
    background-color: rgba(250, 186, 83, 0.1);
    padding: .5rem;
}
.show-component.sectors,
.pattern-component.sectors {
    border: 1px solid #28a745;
    background-color: rgba(40, 167, 69, 0.01);
    padding: .5rem;
}
.show-component > .float-right {
    text-align: right;
    max-width: 38%;
}

.title {
    font-size: 1.1rem;

    .badge-sector {
        margin-right: 0.25rem;
    }
}

.group3-update {
    border: 1px solid var(--isimip-teal);
    background-color: rgba(23, 162, 184, 0.1);
    padding: 0.5rem 1rem;
}
.group3-update .badge-split {
    vertical-align: 2px;
    font-size: var(--isimip-smaller);
}
.group3-update > :last-child {
    margin-bottom: 0;
}

.border-group3 {
    border: var(--bs-border-width) var(--bs-border-style) var(--isimip-teal) !important;
}
