.toc,
.config {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: small;
}
.config,
.toc {
    border: 1px solid var(--isimip-light-gray);
}

.config {
    width: 360px;
    padding: 0.5rem 1rem;

    .form-check {
        min-height: auto;
    }
}

.toc {
    width: 260px;
}

.toc > ul {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin: 0;
}
.toc li {
    list-style: none;
}
.toc li > ul {
    padding-left: 1.5rem;
}
.toctitle {
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.dropdown-menu .toc > ul {
    margin: 0;
    padding: 0;
}
.dropdown-menu .toctitle {
    margin: 0;
}
