main {
    padding-top: 40px;
    padding-bottom: 40px;

    .container {
        max-width: 960px;
    }
}
footer {
    border-top: 1px solid rgb(164, 164, 164);
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .toc {
        width: auto;
    }
    .config {
        float: none;
        margin-left: 0;
    }
}
