$FontPathOpenSans: "npm-font-open-sans/fonts/";

@import "npm-font-open-sans/open-sans";

h1 {
    text-align: center;
    margin: 0;
}
h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 100px;
  margin: 3rem auto;
  background-color: var(--isimip-orange);
}
h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h4 {
    font-weight: bold;
    font-size: 1.2rem;
}
h1, h2, h3 {
    color: rgb(74, 74, 74);
}
h2, h3, h4 {
    /* add an offset to make the anchor links work */
    scroll-margin-top: 120px;
}

a {
    color: var(--isimip-blue);
    text-decoration: none;
}
a:hover {
    color: var(--isimip-dark-blue);
    text-decoration: underline;
}

caption {
    caption-side: top;
    padding-top: 0;
}
pre {
    color: white;
    background-color: #343a40;
    padding: 0.5rem 1rem;
    white-space: pre-wrap;
}
pre code {
    font-size: smaller;
    background-color: transparent;
    padding: 0;
}
code {
    word-break: break-all;
}

em.sector {
    font-style: normal;
    color: var(--isimip-green);
}

.pre {
    white-space: pre;
}

.title {
    font-size: 1.1rem;

    .badge-sector {
        margin-right: 0.25rem;
    }
}

.group3-update {
    border: 1px solid #17a2b8;
    background-color: rgba(23, 162, 184, 0.1);
    padding: .5rem;
    margin-bottom: 20px;
}
.group3-update .badge-split {
    vertical-align: top;
    font-size: small;
}
.group3-update > :last-child {
    margin-bottom: 0;
}
