:root {
    --isimip-orange: #ffc107;
    --isimip-gray: #a4a4a4;
    --isimip-light-gray: #cccccc;
    --isimip-blue: #0681be;
    --isimip-light-blue: #eef6ee;
    --isimip-dark-blue: #065e8a;
    --isimip-green: #28a745;
    --isimip-dark-green: #556B2F;
    --isimip-teal: #17a2b8;

    --isimip-small: 0.875rem;   // 14px
    --isimip-smaller: 0.75rem;  // 12px

    --bs-body-font-family: 'Open Sans', sans;
    --bs-body-font-size: 16px;
}

@import '@fontsource/open-sans/400.css';
@import '@fontsource/open-sans/400-italic.css';
@import '@fontsource/open-sans/700.css';
@import '@fontsource/open-sans/700-italic.css';

@import 'badges';
@import 'components';
@import 'layout';
@import 'nav';
@import 'print';
@import 'tables';
@import 'typography';
@import 'utils';
