<table id="tbl:basin" class="tablenos">
    <caption>
      Table {{ counter() }}: Catchment gauging stations for reporting regional hydrological model results.
    </caption>
    <thead>
        <th style="width: 10%;">River Basin</th>
        <th style="width: 10%;">Station</th>
        <th style="width: 20%;">Specifier</th>
        <th style="width: 15%;">Coordinates (Lat, Lon)</th>
        <th style="width: 10%;">GRDC Station Code</th>
        <th style="width: 10%;">Data availability (monthly discharge)</th>
        <th style="width: 10%;">Data availability (daily discharge)</th>
        <th style="width: 10%;">Area upstream of gauge (km2) according to GRDC or GIS</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.river }}</td>
            <td>{{ row.title }}</td>
            <td><strong>{{ row.river_specifier }}-{{ row.specifier }}</strong></td>
            <td>{{ row.lat }}, {{ row.lon }}</td>
            <td>{{ row.grdc }}</td>
            <td>{{ row.availability_monthly }}</td>
            <td>{{ row.availability_daily }}</td>
            <td>{{ row.area_upstream }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
