<table id="tbl:climate_variables" class="tablenos">
    <caption>
      Table {{ counter() }}: Climate forcing for {{ simulation_round.specifier }} simulations.
    </caption>
    <thead>
        <th style="width: 30%;">Variable</th>
        {% if simulation_round.specifier.endswith('a') %}
        <th style="width: 10%;">Variable specifier</th>
        <th style="width: 10%;">Unit</th>
        <th style="width: 10%;">Resolution</th>
        <th style="width: 40%;">Datasets</th>
        {% else %}
        <th style="width: 20%;">Variable specifier</th>
        <th style="width: 10%;">Unit</th>
        <th style="width: 10%;">Resolution</th>
        <th style="width: 30%;">Models</th>
        {% endif %}
    </thead>
    <tbody>
        {% for group, rows in table.items() %}
        <tr>
            <td colspan="7" class="gray">
                <strong>{{ group }}</strong>
            </td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.title }}</td>
            <td>
                <strong>{{ row.specifier }}</strong>
            </td>
            <td>{{ row.unit }}</td>
            <td>
                <ul>
                    <li>{{ row.resolution }}</li>
                    <li>{{ row.frequency }}</li>
                </ul>
            </td>
            <td>
                <ul>
                {% for model in row.climate_forcing %}
                    <li>{{ model }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
