<table id="tbl:climate_forcing" class="tablenos table table-bordered w-100">
    <caption>
      Table {{ counter() }}: Climate and climate-related forcing data (<code>climate-forcing</code>).
    </caption>
    <thead class="thead-dark">
        <th style="width: 15%;">Title</th>
        <th style="width: 15%;">Specifier</th>
        {% if simulation_round.specifier.endswith('a') %}
        <th style="width: 10%;">Time period</th>
        <th style="width: 10%;">Reanalysis</th>
        <th style="width: 20%;">Bias adjustment target</th>
        <th style="width: 25%;">Comments</th>
        {% else %}
        <th style="width: 45%;">Institution</th>
        <th style="width: 10%;">Native resolution</th>
        <th style="width: 10%;">Ensemble member</th>
        {% endif %}
        <th style="width: 5%;">Priority</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>
                {% if row.url %}
                <a href="{{ row.url }}" target="blank">{{ row.title }}</a>
                {% else %}
                {{ row.title }}
                {% endif %}
            </td>
            <td><strong>{{ row.specifier }}</strong></td>
            {% if simulation_round.specifier.endswith('a') %}
            <td>{{ row.time_period }}</td>
            <td>{{ row.reanalysis }}</td>
            <td>{{ row.bias_adjustment_target }}</td>
            <td>{{ row.comments }}</td>
            {% else %}
            <td>{{ row.institution }}</td>
            <td>
                {% if sector.specifier == 'index' %}
                <p>Atmosphere: {{ row.original_resolution['other'] or row.original_resolution }}</p>

                {% if 'marine-fishery_global' in row.original_resolution %}
                <p>Ocean: {{ row.original_resolution['marine-fishery_global'] }}</p>
                {% endif %}
                {% else %}
                {{ row.original_resolution }}
                {% endif %}
            </td>
            <td>{{ row.ensemble_member }}</td>
            {% endif %}
            <td>{{ row.priority }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
