<table id="tbl:climate_forcing" class="tablenos table table-bordered w-100">
    <caption>
      Table {{ counter() }}: Climate and climate-related forcing data (<code>climate-forcing</code>).
    </caption>
    <thead class="thead-dark">
        <th style="width: 15%;">Title</th>
        <th style="width: 15%;">Specifier</th>
        {% if simulation_round.specifier.endswith('a') %}
        <th style="width: 10%;">Time period</th>
        <th style="width: 10%;">Reanalysis</th>
        <th style="width: 15%;">Bias adjustment target</th>
        <th style="width: 35%;">Comments</th>
        {% else %}
        <th style="width: 42%;">Institution</th>
        <th style="width: 18%;">Original resolution</th>
        <th style="width: 10%;">Ensemble member</th>
        {% endif %}
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.title }}</td>
            <td><strong>{{ row.specifier }}</strong></td>
            {% if simulation_round.specifier.endswith('a') %}
            <td>{{ row.time_period }}</td>
            <td>{{ row.reanalysis }}</td>
            <td>{{ row.bias_adjustment_target }}</td>
            <td>{{ row.comments }}</td>
            {% else %}
            <td>{{ row.institution }}</td>
            <td>{{ row.original_resolution }}</td>
            <td>{{ row.ensemble_member }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
