<table id="tbl:co2sens_scenario" class="tablenos">
    <caption>
      Table {{ counter() }}: CO₂ forcing for {{ simulation_round.title }}.
    </caption>
    <thead>
        <th style="width: 30%;">Dataset</th>
        <th style="width: 20%;">Dataset specifier</th>
        <th style="width: 10%;">Unit</th>
        <th style="width: 10%;">Resolution</th>
        <th style="width: 30%;">Datasets</th>
    </thead>
    <tbody>
        {% for group, rows in table.items() %}
        <tr>
            <td colspan="7" class="gray">
                <strong>{{ group }}</strong>
            </td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.title }}</td>
            <td>
                <strong>{{ row.specifier }}</strong>
            </td>
            <td>{{ row.unit }}</td>
            <td>
                <ul>
                    <li>{{ row.resolution }}</li>
                    <li>{{ row.frequency }}</li>
                </ul>
            </td>
            <td>{{ row.comment }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
