<table style="width: 50%;">
    <thead>
        <th style="width: 50%;">Crop</th>
        <th style="width: 50%;">Specifier</th>
    </thead>
    <tbody>
        {% for group, rows in table.items() %}
        <tr>
            <td colspan="6" class="gray">
                <strong>{{ group }}</strong>
            </td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.title }}</td>
            <td>
                <strong>{{ row.specifier }}{{ '-' if row.extension }}{{ row.extension }}</strong>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
