<table id="tbl:irrigation" class="tablenos">
    <caption>
      Table {{ counter() }}: Diazotroph scenario specifiers.
    </caption>
    <thead>
        <th style="width: 20%;">Diazotroph scenario</th>
        <th style="width: 10%;">Specifier</th>
        <th style="width: 70%;">Description</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.title }}</td>
            <td><strong>{{ row.specifier }}</strong></td>
            <td>{{ row.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
