<table id="tbl:stand" class="tablenos table table-bordered w-100">
    <caption>
      Table {{ counter() }}: Overview of the forest stands.
    </caption>
    <thead class="thead-dark">
        <th style="width: 10%;">Stand</th>
        <th style="width: 15%;">Specifier</th>
        <th style="width: 5%;">Country</th>
        <th style="width: 10%;">Coordinates (Lat, Lon)</th>
        <th style="width: 10%;">Forest type</th>
        <th style="width: 10%;">Species</th>
        <th style="width: 10%;">Thinning during historical time period</th>
        <th style="width: 30%;">Comment</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.title }}</td>
            <td><strong>{{ row.specifier }}</strong></td>
            <td>{{ row.country }}</td>
            <td>{{ row.lat }}, {{ row.lon }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.species|join(', ') }}</td>
            <td>{{ row.thinning }}</td>
            <td>{{ row.comment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
