<table>
    <caption>
        Table {{ counter() }}: Geo conditions for the {{ sector.title|lower }} sector.
    </caption>
    <thead>
        <th style="width: 25%;">Dataset</th>
        <th style="width: 25%;">Included variables (variablename)</th>
        <th style="width: 10%;">Resolution</th>
        <th style="width: 40%;">Reference/Source and Comments</th>
    </thead>
    <tbody>
        {% for group, rows in table.items() %}
        <tr>
            <td colspan="7" class="gray">
                <strong>{{ group }}</strong>
            </td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>
                <p>
                    <strong>{{ row.specifier }}</strong>
                </p>
                <p>{{ row.title }}</p>
            </td>
            <td>
                <ul>
                {% for variable in row.variables %}
                    <li>{{ variable }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <p>{{ row.resolution }}</p>
                <p>{{ row.frequency }}</p>
            </td>
            <td>{{ row.comment }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
