<table id="tbl:irrigation" class="tablenos table table-bordered w-50">
    <caption>
      Table {{ counter() }}: Irrigation specifiers.
    </caption>
    <thead class="thead-dark">
        <th style="width: 70%;">Irrigation type</th>
        <th style="width: 30%;">Specifier</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.title }}</td>
            <td><strong>{{ row.specifier }}</strong></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
