<table id="tbl:lake" class="tablenos table table-bordered w-100">
    <caption>
      Table {{ counter() }}: Lake site specifications for local lake models (<code>lake-site</code>).
    </caption>
    <thead class="thead-dark">
        <th style="width: 20%;">Lake name</th>
        <th style="width: 20%;">Specifier</th>
        <th style="width: 20%;">Reservoir or lake</th>
        <th style="width: 20%;">Country</th>
        <th style="width: 20%;">Coordinates (Lat, Lon)</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.title }}</td>
            <td><strong>{{ row.specifier }}</strong></td>
            <td>{{ row.type }}</td>
            <td>{{ row.country }}</td>
            <td>{{ row.lat }}, {{ row.lon }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
