<table id="tbl:lake" class="tablenos">
    <caption>
      Table {{ counter() }}: Lake site specifications for local lake models. A document with additional information is maintained by the sector coordinators and provided at <a href="https://docs.google.com/spreadsheets/d/1UY_KSR02o7LtmNoOs6jOgOxdcFEKrf7MmhR2BYDlm-Q/edit#gid=555498854">https://docs.google.com/spreadsheets/d/1UY_KSR02o7LtmNoOs6jOgOxdcFEKrf7MmhR2BYDlm-Q/edit#gid=555498854</a>.
    </caption>
    <thead>
        <th style="width: 20%;">Lake name</th>
        <th style="width: 20%;">Specifier</th>
        <th style="width: 20%;">Reservoir or lake</th>
        <th style="width: 20%;">Country</th>
        <th style="width: 20%;">Coordinates (Lat, Lon)</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.title }}</td>
            <td><strong>{{ row.specifier }}</strong></td>
            <td>{{ row.type }}</td>
            <td>{{ row.country }}</td>
            <td>{{ row.lat }}, {{ row.lon }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
