<table id="tbl:ocean" class="tablenos">
    <caption>
      Table {{ counter() }}: Ocean regions.
    </caption>
    <thead>
        <th style="width: 20%;">Ocean region</th>
        <th style="width: 20%;">Specifier</th>
        <th style="width: 20%;">Coordinates (west, south, east, north)</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.title }}</td>
            <td><strong>{{ row.specifier }}</strong></td>
            <td>{{ row.west }}, {{ row.south }}, {{ row.east }}, {{ row.north }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
