<table id="tbl:irrigation" class="tablenos table table-bordered w-50">
    <caption>
      Table {{ counter() }}: Pool specifiers (<code>pool</code>).
    </caption>
    <thead class="thead-dark">
        <th style="width: 30%;">Specifier</th>
        <th style="width: 70%;">Description</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td><strong>{{ row.specifier }}</strong></td>
            <td>{{ row.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
