<table id="tbl:scenario" class="tablenos">
    <caption>
      Table {{ counter() }}: Scenario set-ups: Each experiment is specified by the climate forcing (CF) and the Direct Human Forcing (DHF).
    </caption>
    <thead>
        <tr>
            <th style="width: 20%;">Experiment</th>

            {% if simulation_round.specifier.endswith('a') %}

            <th style="width: 45%;">Short description</th>
            <th style="width: 15%;">
                <p>Spin up (XXXX-1900)</p>
                <p>(only if spin-up is needed)</p>
            </th>
            <th style="width: 15%;">
                <p>Historical (1901-2018)</p>
            </th>

            {% else %}

            <th style="width: 30%;">Short description</th>
            <th style="width: 15%;">
                <p>Pre-industrial</p>
                <p>1601-1849</p>
            </th>
            <th style="width: 15%;">
                <p>Historical</p>
                <p>1850-2014</p>
            </th>
            <th style="width: 15%;">
                <p>Future</p>
                <p>2015-2100</p>
            </th>

            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td rowspan="2" class="border-bottom">
                <h4>{{ row.title }}</h4>
                {% if row.subtitle %}<p>{{ row.subtitle }}</p>{% endif%}
                {% if row.priority %}<p><strong>{{ row.priority }}</strong></p>{% endif%}
            </td>
            <td>
                <strong>CF:</strong> {{ row.description.climate }}
            </td>

            {% if simulation_round.specifier.endswith('a') %}

                {% if row.spin_up.climate %}
                <td class="green">
                    <p>
                        <strong>{{ row.spin_up.climate }}</strong>
                    </p>
                </td>
                {% else %}
                <td rowspan="2" class="border-bottom">
                    {{ row.spin_up }}
                </td>
                {% endif %}

                {% if row.historical.climate %}
                <td class="gray">
                    <strong>{{ row.historical.climate }}</strong>
                </td>
                {% else %}
                <td rowspan="2" class="border-bottom">
                    {{ row.historical }}
                </td>
                {% endif %}

            {% else %}

                {% if row.pre_industrial.climate %}
                <td class="gray">
                    <strong>{{ row.pre_industrial.climate }}</strong>
                </td>
                {% else %}
                <td rowspan="2" class="border-bottom">
                    {{ row.pre_industrial }}
                </td>
                {% endif %}

                {% if row.historical.climate %}
                <td class="gray">
                    <strong>{{ row.historical.climate }}</strong>
                </td>
                {% else %}
                <td rowspan="2" class="border-bottom">
                    {{ row.historical }}
                </td>
                {% endif %}

                {% if row.future.climate %}
                <td class="red">
                    <strong>{{ row.future.climate }}</strong>
                </td>
                {% else %}
                <td rowspan="2" class="border-bottom">
                    {{ row.future }}
                </td>
                {% endif %}

            {% endif %}
        </tr>
        <tr>
            <td class="border-bottom">
                <strong>DHF:</strong> {{ row.description.soc }}
            </td>

            {% if simulation_round.specifier.endswith('a') %}

                {% if row.spin_up.soc %}
                <td class="green border-bottom" >
                    <strong>{{ row.spin_up.soc }}</strong>
                </td>
                {% endif %}

                {% if row.historical.soc %}
                <td class="gray border-bottom">
                    <strong>{{ row.historical.soc }}</strong>
                </td>
                {% endif %}

            {% else %}

                {% if row.pre_industrial.soc %}
                <td class="gray border-bottom">
                    <strong>{{ row.pre_industrial.soc }}</strong>
                </td>
                {% endif %}

                {% if row.historical.soc %}
                <td class="gray border-bottom">
                    <strong>{{ row.historical.soc }}</strong>
                </td>
                {% endif %}

                {% if row.future.soc %}
                <td class="red border-bottom">
                    <strong>{{ row.future.soc }}</strong>
                </td>
                {% endif %}

            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
