<table>
    <caption>
        Scenario set-ups: Each experiment is specified by the climate forcing (CF) and the Direct Human Forcing (DHF)
    </caption>
    <thead>
        <tr>
            <th style="width: 10%;">Experiment</th>
            <th style="width: 25%;">Short description</th>
            <th style="width: 10%;">Input</th>
            <th style="width: 15%;">Pre-industrial</th>
            <th style="width: 15%;">Historical</th>
            <th style="width: 15%;">Future</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td rowspan="2">
                <strong>{{ row.title }}</strong>
                {% if row.subtitle %}<br />{{ row.subtitle }}{% endif%}
            </td>
            <td>
                <strong>CF:</strong> {{ row.description.climate }}
            </td>
            <td>
                {{ row.input.climate }}
            </td>

            {% if row.pre_industiral.climate %}
            <td class="gray">
                <strong>{{ row.pre_industiral.climate }}</strong>
            </td>
            {% else %}
            <td rowspan="2">
                {{ row.pre_industiral }}
            </td>
            {% endif %}

            {% if row.historical.climate %}
            <td class="gray">
                <strong>{{ row.historical.climate }}</strong>
            </td>
            {% else %}
            <td rowspan="2">
                {{ row.historical }}
            </td>
            {% endif %}

            {% if row.future.climate %}
            <td class="red">
                <strong>{{ row.future.climate }}</strong>
            </td>
            {% else %}
            <td rowspan="2">
                {{ row.future }}
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>
                <strong>DHF:</strong> {{ row.description.soc }}
            </td>
            <td>
                {{ row.input.soc }}
            </td>

            {% if row.pre_industiral.soc %}
            <td class="gray">
                <strong>{{ row.pre_industiral.soc }}</strong>
            </td>
            {% endif %}

            {% if row.historical.soc %}
            <td class="gray">
                <strong>{{ row.historical.soc }}</strong>
            </td>
            {% endif %}

            {% if row.future.soc %}
            <td class="red">
                <strong>{{ row.future.soc }}</strong>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
