<table id="tbl:species" class="tablenos" style="width: 50%;">
    <caption>
        Table {{ counter() }}: Specifiers for species, disturbance names and DBH classes.
    </caption>
    <thead>
        <th style="width: 20%;">Specifier</th>
        <th style="width: 80%;">Species</th>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td><strong>{{ row.specifier }}</strong></td>
            <td>{{ row.title }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
