<table>
    <thead>
        <th style="width: 20%;">Variable</th>
        <th style="width: 40%;">Variable long name</th>
        <th style="width: 10%;">Unit (NetCDF format)</th>
        <th style="width: 10%;">Resolution</th>
        <th style="width: 20%;">Comments</th>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td><strong>{{ row.specifier }}</strong></td>
            <td>{{ row.title }}</td>
            <td>{{ row.unit }}</td>
            <td>{{ row.resolution }}</td>
            <td>{{ row.comment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
