<table>
    <thead>
        <th style="width: 15%;">Specifier</th>
        <th style="width: 15%;">Long name</th>
        <th style="width: 20%;">Unit (NetCDF format)</th>
        <th style="width: 20%;">Resolution</th>
        <th style="width: 30%;">Comments</th>
    </thead>
    <tbody>
        {% for group, rows in table.items() %}
        <tr>
            <td colspan="5" class="gray">
                <strong>{{ group }}</strong>
            </td>
        </tr>
        {% for row in rows %}
        <tr>
            <td><strong>{{ row.specifier }}</strong></td>
            <td>{{ row.title }}</td>
            <td>{{ row.unit }}</td>
            <td>{{ row.resolution }}</td>
            <td>{{ row.comment }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
