h1 {
    margin-top: 0;
    margin-bottom: 3rem;
}
h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h4 {
    font-weight: bold;
    font-size: 1.2rem;
}
h1, h2, h3 {
    color: rgb(74, 74, 74);
}
/* add an offset to make the anchor links work */
h1::before,
h2::before,
h3::before,
h4::before {
    content: '';
    display: block;
    height:      100px;
    margin-top: -100px;
    visibility: hidden;
}
a {
    color: #0681be;
}
a:hover {
    color: #065E8A;
}
nav.navbar {
    padding: 0;
    border-bottom: 1px solid #a4a4a4;
    background-color: white;
}
nav.navbar .navbar-brand {
    padding: 20px 0 20px 0;
    margin-right: 20px;
}
nav.navbar .navbar-brand img {
    width: 140px;
}
nav.navbar .navbar-nav .nav-link {
    font-size: 14px;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: black;

    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
nav.navbar .navbar-nav .nav-link:focus,
nav.navbar .navbar-nav .nav-link:hover {
    color: #0681be;
}
.dropdown-menu {
    border-radius: 0;
    border: 1px solid rgb(164, 164, 164);
}
main {
    padding-top: 40px;
    padding-bottom: 40px;
}
footer {
    border-top: 1px solid rgb(164, 164, 164);
    padding: 1rem 0;
}
table.table {
    margin-bottom: 2rem;
    font-size: small;
}
table.table thead th {
    vertical-align: top;
}
div.table-wrapper table.table {
    margin-bottom: 0;
}
div.table-wrapper.closed {
    height: 200px;
    overflow: hidden;
}
a.toggle-table {
    display: block;
    float: right;
}
button.toggle-table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    background-color: white;
    border: 1px solid rgb(164, 164, 164);
    font-size: smaller;

    margin-bottom: 1rem;
}
button.toggle-table:focus {
    outline: 0;
}
table.table {
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}
table.table-fixed {
    table-layout: fixed;
}
td :last-child {
    margin-bottom: 0;
}
td ul {
    padding-left: 1.2rem;
}
td li {
    margin-bottom: 0.5rem;
}
td p {
    margin-bottom: 0.5rem;
}
td.extra-border-bottom {
    border-bottom-width: 3px;
}
td.no-border-bottom {
    border-bottom-color: transparent;
}
td .badge {
    margin-right: 3px;
}
caption {
    caption-side: top;
}
pre {
    color: white;
    background-color: #343a40;
    padding: 0.5rem 1rem;
    white-space: pre-wrap;
}
pre code {
    font-size: smaller;
    background-color: transparent;
    padding: 0;
}
code {
    word-break: break-all;
}
.title .badge-sector {
    margin-right: 3px;
}
.toc,
.config {
    width: 250px;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: small;
}
.config,
.toc {
    border: 1px solid rgb(164, 164, 164);
}
.dropdown-menu .toc,
.dropdown-menu .config {
    border: none;
    margin: 0;
    padding: 0 1rem;
}
.toc > ul {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin: 0;
}
.toc li {
    list-style: none;
}
.toctitle {
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.dropdown-menu .toc > ul {
    margin: 0;
    padding: 0;
}
.dropdown-menu .toctitle {
    margin-right: 0;
}
.config {
    padding: 0.5rem 1rem;
}
.show-component,
.pattern-component {
    margin-bottom: 1rem;
}
.show-component p:last-child,
.show-component ul:last-child,
.show-component pre:last-child,
.pattern-component pre:last-child {
    margin-bottom: 0;
}
.show-component .badge {
    margin-left: 3px;
    margin-right: 0;
}
.show-component.simulation_round {
    border: 1px solid #faba53;
    background-color: rgba(250, 186, 83, 0.1);
    padding: .5rem;
}
.show-component.sectors,
.pattern-component.sectors {
    border: 1px solid #28a745;
    background-color: rgba(40, 167, 69, 0.01);
    padding: .5rem;
}
.hidden {
    display: none;
}
.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    background-color: white;
}
.alert {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    border-radius: 0;
    font-size: small;
    font-weight: bold;
    padding: .75rem;
}
@media print {
    body {
        /* fix colors in printing */
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
    h2, h3 {
        page-break-inside: avoid;
    }
    h2::after, h3::after  {
        content: "";
        display: block;
        height: 100px;
        margin-bottom: -100px;
    }
    @page {
        margin: 1in;
    }
}
@media (max-width: 768px) {
    .toc {
        width: auto;
    }
    .config {
        float: none;
        margin-left: 0;
    }
}
