{% extends 'layout.html' %}

{% block title %}
<title>ISIMIP3 simulation protocol</title>
{% endblock %}

{% block content %}
    <h1>
        ISIMIP3 simulation protocol
    </h1>

    <h2>Protocol</h2>

    {% for simulation_round in pages %}
    <h3>{{ simulation_round.title }}</h3>

    <ul>
    {% for sector in simulation_round.sectors %}
    <li>
        <a href="protocol/{{ simulation_round.specifier }}/{{ sector.specifier }}.html">
            {{ sector.title }} sector
        </a>
    </li>
    {% endfor %}
    <li>
    <a href="protocol/{{ simulation_round.specifier }}/index.html">
        All sectors combined
    </a>
    </li>
    </ul>
    {% endfor %}

    <h2>JSON schema</h2>

    {% for simulation_round in pages %}
    <h3>{{ simulation_round.title }}</h3>

    {% for product in simulation_round.products %}
    <h4>{{ product.title }}</h4>

    <ul>
    {% for sector in product.sectors %}
    <li>
        <a href="schema/{{ simulation_round.specifier }}/{{ product.specifier }}/{{ sector.specifier }}.json">
            {{ sector.title }} sector
        </a>
    </li>
    {% endfor %}
    </ul>
    {% endfor %}
    {% endfor %}

    <h2>File system patterns</h2>

    {% for simulation_round in pages %}
    <h3>{{ simulation_round.title }}</h3>

    {% for product in simulation_round.products %}
    <h4>{{ product.title }}</h4>

    <ul>
    {% for sector in product.sectors %}
    <li>
        <a href="pattern/{{ simulation_round.specifier }}/{{ product.specifier }}/{{ sector.specifier }}.json">
            {{ sector.title }} sector
        </a>
    </li>
    {% endfor %}
    </ul>
    {% endfor %}
    {% endfor %}

    <h2>Glossary</h2>

    <ul>
        <li>
            <a href="glossary.json">
                Glossary
            </a>
        </li>
    </ul>

{% endblock %}
