{% extends 'layout.html' %}

{% block title %}
<title>ISIMIP3 simulation protocol</title>
{% endblock %}

{% block content %}
    {{ html|safe }}

    <div class="row">
        {% for simulation_round in pages %}
        <div class="col-md">
            <h3>{{ simulation_round.title }} protocol</h3>

            <ul>
            {% for sector in simulation_round.sectors %}
                <li>
                    <a href="protocol/{{ simulation_round.specifier }}/{{ sector.specifier }}.html">
                        {{ sector.title }} sector
                    </a>
                </li>
            {% endfor %}
            <li>
                <a href="protocol/{{ simulation_round.specifier }}/index.html">
                    All sectors combined
                </a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        {% for simulation_round in pages %}
        <div class="col-md">
            <h3>{{ simulation_round.title }} JSON schema</h3>

            {% for product in simulation_round.products %}
            <h4>{{ product.title }}</h4>

            <ul>
                {% for sector in product.sectors %}
                <li>
                    <a href="schema/{{ simulation_round.specifier }}/{{ product.specifier }}/{{ sector.specifier }}.json">
                        {{ sector.title }} sector
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="row">
        {% for simulation_round in pages %}
        <div class="col-md">
            <h3>{{ simulation_round.title }} file system patterns</h3>

            {% for product in simulation_round.products %}
            <h4>{{ product.title }}</h4>

            <ul>
                {% for sector in product.sectors %}
                <li>
                    <a href="pattern/{{ simulation_round.specifier }}/{{ product.specifier }}/{{ sector.specifier }}.json">
                        {{ sector.title }} sector
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <h3>JSON Glossary</h3>

    <ul>
        <li>
            <a href="glossary.json">
                Glossary
            </a>
        </li>
    </ul>

{% endblock %}
