<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        {% block title %}
        <title>{{ simulation_round.title }} &ndash; {{ sector.title }}</title>
        {% endblock %}

        <link rel="stylesheet" href="{{ base_path }}/assets/bootstrap.min.css">
        <link rel="stylesheet" href="{{ base_path }}/assets/style.css">
        <link rel="shortcut icon" href="{{ base_path }}/assets/favicon-32x32.png" type="image/png"/>
    </head>
    <body>
        <header>
            <div class="container-lg">
                <div class="row">
                    <div class="col">
                        <a class="logo" href="https://www.isimip.org">
                            <img src="https://www.isimip.org/static/images/logo-white.png" alt="ISIMIP logo">
                        </a>
                        <a class="link" href="{{ base_path }}">
                            ISIMIP3 simulation protocol
                        </a>
                    </div>
                    <div class="col text-right">
                        <p>
                            Last updated: {{ commit_date }}
                        </p>
                        <p>
                            Commit hash: <a href="{{ commit_url }}">{{ commit_hash }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container-lg">
                {% block content %}
                {{ content|safe }}
                {% endblock %}
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="text-center">
                    <a href="https://www.isimip.org">The Inter-Sectoral Impact Model Intercomparison Project</a>.
                    For questions or clarifications, please contact <a href="mailto:info@isimip.org">info@isimip.org</a>.
                </div>
            </div>
        </footer>

        <script defer>
            (function() {
                var showMsg = 'Show full table',
                    hideMsg = 'Hide table';

                function toggleTable(wrapper, button, a) {
                    if (wrapper.classList.contains('closed')) {
                        wrapper.classList.remove('closed');

                        button.innerHTML = hideMsg;
                        a.innerHTML = hideMsg;

                        localStorage.setItem(wrapper.querySelector('table').id, 1)
                    } else {
                        wrapper.classList.add('closed');

                        button.innerHTML = showMsg;
                        a.innerHTML = showMsg;

                        localStorage.setItem(wrapper.querySelector('table').id, 0)
                    }
                }

                document.querySelectorAll('.table-wrapper').forEach(function(wrapper) {
                    wrapper.classList.add('closed');

                    var a = document.createElement('a');
                    a.innerHTML = showMsg;
                    a.className = 'toggle-table';
                    a.href = '#';

                    var button = document.createElement('button');
                    button.innerHTML = showMsg;
                    button.className = 'toggle-table';

                    wrapper.querySelector('caption').append(a);
                    wrapper.after(button);

                    a.addEventListener('click', function (event) {
                        event.preventDefault();
                        toggleTable(wrapper, button, a);
                    });
                    button.addEventListener('click', function (event) {
                        toggleTable(wrapper, button, a);
                        wrapper.scrollIntoView();
                    });

                    if (localStorage.getItem(wrapper.querySelector('table').id) == 1) {
                        toggleTable(wrapper, button, a);
                    }
                });
            })();
        </script>
    </body>
</html>
